.clear:after {content: ""; display: block; clear: both;}
.box_inner { width: 100%; margin: 0 auto;}

/*index.html*/
/* HEADER */
.logo {
    width: 230px; height: 70px; 
    display: block; margin: 0 auto; float: left;
    margin-left: 650px;
}
.header_login .login {
    float: right;
    margin-right: 150px; padding: 0;
} 
.header_login .login li {display: inline; }

.header_cont { 
    position: absolute;
    left: 0; top: 80px; width: 100%;
    height: 50px; background-color: midnightblue; z-index: 100;
}
.header_cont .menu {
    position: absolute;
    left: 260px;
    float: center;
}
.header_cont .menu li {
    color: blanchedalmond;
    display: inline; font-size: 18px;
    padding-right: 200px;
}

.header_cont .menu li a:link {text-decoration: none; color: blanchedalmond;}
.header_cont .menu li a:visited {text-decoration: none; color: blanchedalmond;}
.header_cont .menu li a:active {text-decoration: none; color: blanchedalmond;}
.header_cont .menu li a:link {color: blanchedalmond;}

/*통계학과 이미지*/
.main_img { 
    float: center;
    display: block; margin: 0 auto; 
    padding-top: 80px;
}

/*숙명여대 관련 사이트 이동 가능한 option_table*/
.option_table{
    width: 80%;
    border-spacing: 40px;
    margin: 0 auto;
}
.option_table tr td img { width: 100px; height: 100px;}
.option_table tr td a:link {text-decoration: none; color: darkslateblue;}
.option_table tr td a:visited {text-decoration: none; color: darkslateblue;}
.option_table tr td a:active {text-decoration: none;color: darkslateblue;}

/*하위 위치한 border_zip*/
.board_zip {
    width: 90%;
    border-collapse: seperate;
    border-spacing: 30px 10px;
    margin: auto;
}
.board_zip h4 a:link {text-decoration: none; color: darkslateblue;}
.board_zip h4 a:visited {text-decoration: none; color:darkslateblue;}
.board_zip h4 a:active {text-decoration: none; color: darkslateblue;}
.board_zip dl dt a:link {color: darkslateblue;}
.board_zip dl dt a:visited {color:darkslateblue;}
.board_zip dl dt a:active {color: darkslateblue;}

/*FOOTER*/
footer {  float: left; margin-left: 30px; background-color: white;}
footer .foot_area { position: relative; padding-bottom: 15px; }
footer .foot_area h2 { padding-top: 10px; font-size: 14px; color: #666; }
footer .foot_area .addr { padding-top: 5px; line-height: 1.4; font-size: 13px; color: #666; }
footer .foot_area .addr .space0 { letter-spacing: 0; }
footer .foot_area .copy { padding-top: 3px; font-size: 13px; color: #666; letter-spacing: 0; }



/*introstat.html*/
.notice_detail .notice_table {
    margin: 80px auto;
    width: 60%;
}
.notice_detail .notice_table .notice_menu tr td a:link {text-decoration: none; color: darkslateblue;}
.notice_detail .notice_table .notice_menu tr td a:visited {text-decoration: none; color: darkslateblue;}
.notice_detail .notice_table .notice_menu tr td a:active {text-decoration: none; color: darkslateblue;}

.notice_detail .notice_table .notice_info h2 { border-bottom: 3px solid midnightblue;}
.notice_detail .notice_table .notice_info h3 { color: darkblue; font-size: 14pt; }

/*curriculum.html*/
.curriculum_detail .curriculum_table {
    margin: 80px auto;
    width: 60%;
}
.curriculum_detail .curriculum_table tr th { background-color: whitesmoke;}
.curriculum_detail .curriculum_table .curriculum_menu tr td a:link {text-decoration: none; color: darkslateblue;}
.curriculum_detail .curriculum_table .curriculum_menu tr td a:visited {text-decoration: none; color: darkslateblue;}
.curriculum_detail .curriculum_table .curriculum_menu tr td a:active {text-decoration: none; color: darkslateblue;}

.curriculum_detail .curriculum_table .ability { line-height: 200%; }
.curriculum_detail .curriculum_table .ability h2 {border-bottom: 3px solid midnightblue; }

.curriculum_detail .curriculum_table .roadmap h2 { border-bottom: 3px solid midnightblue; }

/*roadmap.html*/
.curriculum_detail .curriculum_table .roadmap td a:link {text-decoration: none; color: darkslateblue;}
.curriculum_detail .curriculum_table .roadmap td a:visited {text-decoration: none; color: darkslateblue;}
.curriculum_detail .curriculum_table .roadmap td a:active {text-decoration: none; color: darkslateblue;}

/*board.html*/
.bbsListTbl { width: 100%; }
.bbsListTbl th, .bbsListTbl td { padding: 10px; box-sizing: border-box; height: 55px; }
.bbsListTbl th { border-bottom: 1px solid #ccc; background-color: #f0f3fa; }
.bbsListTbl td { text-align: center; line-height: 1.1; border-bottom: 1px solid #ccc; }
.bbsListTbl td.tit_notice { text-align: left; }
.bbsListTbl td.tit_notice a:link {text-decoration: none; color: black;}
.bbsListTbl td.tit_notice a:visited {text-decoration: none; color: black;}
.bbsListTbl td.tit_notice a:active {text-decoration: none; color: black;}
.bbsListTbl td:nth-child(1) { width: 10%; }
.bbsListTbl td:nth-child(2) { width: 55%; }
.bbsListTbl td:nth-child(3) { width: 15%; }
.bbsListTbl td:nth-child(4) { width: 20%; }
.pagination { padding: 0 0 0; text-align: center; }
.pagination a { display: inline-block; }
.pagination a.pbtn { display: inline-block; padding: 7px; text-align: center; vertical-align: middle; font-size: 0; }
.pagination a .pagenum { display: inline-block; width: 25px; height: 25px; line-height: 25px; text-align: center; vertical-align: middle; }
.pagination a .currentpage { border-radius: 3px; background: #384d75; color: #fff; }
.pagination a:hover .pagenum { border-radius: 3px; background-color: #ddd; }

/*regist*/
.notice_detail .notice_table .pilsoo { color: red; } 
.notice_detail .notice_table #username, #userid, #userpw, #userpw2 { width: 400px; height: 30px; }
.notice_detail .notice_table #email { width: 200px; height: 30px; }
.notice_detail .notice_table select { width: 200px; height: 30px; }
.notice_detail .notice_table #number { width: 100px; height: 30px; }
.notice_detail .notice_table #address { width: 400px; height: 100px; }
.notice_detail .notice_table #reset { width: 200px; height: 50px; background-color: skyblue; color: black; margin-left: 200px; margin-top: 20px; margin-right: 50px; display: inline-block;}
.notice_detail .notice_table #regist { width: 200px; height: 50px; background-color: midnightblue; color: white; margin-top: 20px; }

/*login*/
.noonsong { float: center; display: block; margin: 0 auto; width: 150px; height: 150px; margin-top: 100px; }
.enterid { float: center; margin: 50px 500px; }
.enterpw { float: center; margin: 20px 500px; }
.loginbtn { width: 200px; height: 50px; background-color: midnightblue; color: white; margin-left: 630px; margin-top: 20px; }
.autologin { margin-left: 670px; margin-top: 30px; }
